
// Fonts -----------------
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');

@import './blocks/normalize';
@import './blocks/variables';
// @import './blocks/loader';
@import './blocks/header';
@import './blocks/menu';
@import './blocks/hero';
@import './blocks/professional-services';
@import './blocks/our-services';
// @import 'main.scss';
// @import 'footer.scss';

body{
  margin: 0 auto;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
  display: flex;

}