@import './variables';

.featured {
    position: relative;
    margin: 0px 0px 10px;
    padding: 64px 180px;
    background-color: $--primary-dark-blue-1;
    @media all and (max-width:1024px) {
        padding: 32px;
    }
    @media (min-width:1025px) and (max-width:1440px) {
        padding: 64px 120px;
    }
    &__header {
        display: flex;
        margin-bottom: 60px;
        @media all and (max-width:1024px) {
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__title {
        margin-right: 80px;
        color: $--neutural-white;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        @media all and (max-width:1024px) {
            margin-bottom: 12px;
            margin-right: 0px;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        }
    }
    &__text {
        display: flex;
        align-items: end;
        color: $--neutural-grey-3;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
        @media (min-width:768px) and (max-width:1024px) {
            padding: 0px 100px;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        @media all and (max-width:1024px) {
            padding-top: 30px; 
        }
    }
    &__list {
        columns: 2;
        column-gap: 184px;
        padding: 0px;
        @media (min-width:1024px) and (max-width:1440px) {
            column-gap: 92px;
        }
        @media all and (max-width:1024px) {
            columns: 1;
        }
    }
    &__item {
        display: flex;
        margin-bottom: 60px;
        @media all and (max-width:1024px) {
            display: block;
            text-align: center;
            margin-bottom: 52px;
        }
    }
    &__icon {
        margin-right: 32px;
        @media all and (max-width:1024px) {
            margin-right: 0px;
            margin-bottom: 12px;
        }
    }
    &__info {
        h3{
            margin-bottom: 12px;
            color: $--neutural-white;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            @media all and (max-width:1024px) {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
            }
        }
        p{
            max-width: 496px;
            color: $--neutural-grey-3;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
    }
    &__decoration-left{
        position: absolute;
        top:17%;
        left: 0px;
        @media all and (max-width:768px) {
            display: none;
        }
    }
    &__decoration-right{
        position: absolute;
        top:17%;
        right: 0px;
        @media all and (max-width:768px) {
            display: none;
        }
    }
}
