// background --------------------
$--primary-dark-blue-1:#142257;
$--neutural-white:#ffffff;
$--primary-sky-blue:#15B2F5;
$--newsletter: #4AC9FF;
// text --------------------------
$--neutural-grey-3:#9EA3B5;
$--neutural-black:#171921;
$--primary-dark-blue-2:#1F3584;
$--neutural-grey-1:#545971;
// figure-------------------------
$--circle:#FF5E5E;